<%- include("./partitials/header.partial.ejs") %>

<body>

    <%- include("./partitials/nav.partial.ejs") %>

    <div class="wrapper">
        <div class="container">
            <h1> Congrats! You have been successfully subscribed to our mailing list! </h1>
            <h3> Not to worry, we promise to only send you one email a week with an update on everything happening on WebIT. </h3>
        </div>
    </div>

    <%- include("./partitials/footer.partial.ejs") %>

</body>
