.content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

/* Content */

.content-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: calc(75vw - 3.6rem);
    margin: 0 1.6rem;
}

.content-main .post-header {
    position: relative;
}

.content-main .post-header-content {
    height: 40%;
    width: 100%;
    background: linear-gradient(0deg, var(--accent), transparent);
    position: absolute;
    bottom: 0;

    padding: 0.8rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.content-main .post-header-content .post-header-title {
    font-size: 4.8rem;
    color: var(--primary);
}

.content-main .post-header-content .post-header-author {
    font-size: 2.0rem;
    color: var(--primary);
}

.content-main .post-body {
    font-size: 1.8rem;
    color: var(--text);
    text-align: left;
    margin-top: 1.6rem;
    padding: 1.6rem;
    border-top: 1px solid var(--text);
}

.content-main .post-header-image {
    max-width: 100%;
    height: auto;
}

/* Side Panel */

.side-panel {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    margin-right: 1.2rem;
    margin-top: 1.6rem;
}

.side-panel .box {
    background-color: var(--accent);
    padding: 1.2rem;
}

.side-panel .box:not(:nth-child(1)) {
    margin-top: 1.6rem;
}

.side-panel .box .box-header-title {
    color: var(--primary);
    font-size: 3.6rem;
}

.side-panel .box .box-header-sub_title {
    color: var(--primary);
    font-size: 1.8rem;
}

.side-panel .box:nth-child(1) .box-content-form {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.side-panel .box:nth-child(1) .box-content-form .box-content-form-input {
    padding: 0.6rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
}

.side-panel .box:nth-child(1) .box-content-form .box-content-form-submit {
    padding: 0.6rem;
    font-size: 1.6rem;
    border: 3px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    margin-top: 1.2rem;
    border-radius: var(--border-radius);

    transition: all var(--transition-time) ease;
}

.side-panel .box:nth-child(1) .box-content-form .box-content-form-submit:hover {
    background-color: var(--primary);
    color: var(--text);
    font-weight: 700;
}

.side-panel .box:nth-child(2) .box-content .post-image {
    max-width: 27.6rem;
    width: 100%;
    background-size: cover;
    border-top: 1px solid var(--primary);
    margin-top: 1.2rem;
    padding-top: 1.2rem;
}

.side-panel .box:nth-child(2) .box-content .post-title {
    font-size: 2.4rem;
    color: var(--primary);
    font-weight: 700;
}

.side-panel .box:nth-child(2) .box-content .post-preview_text {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 1.2rem;
}

.side-panel .box:nth-child(2) .box-content .box-item-content-more_button {
    width: 100%;
    margin-top: 0.8rem;
}

.side-panel .box:nth-child(2) .box-content .box-item-content-more_button button {
    width: 100%;
    padding: 0.6rem;
    border: 3px solid var(--primary);
    outline: none;
    background-color: transparent;
    border-radius: var(--border-radius);

    transition: all var(--transition-time) ease;
}

.side-panel .box:nth-child(2) .box-content .box-item-content-more_button button:hover {
    background-color: var(--primary);
}

.side-panel .box:nth-child(2) .box-content .box-item-content-more_button button span {
    color: var(--primary);
    font-size: 2.0rem;
    vertical-align: middle;
}

.side-panel .box:nth-child(2) .box-content .box-item-content-more_button button:hover span {
    color: var(--text);
    font-weight: 700;
}

.side-panel .box:nth-child(2) .box-content .box-item-content-more_button button i {
    font-size: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    color: var(--primary);
    vertical-align: middle;
}

.side-panel .box:nth-child(2) .box-content .box-item-content-more_button button:hover i {
    color: var(--text);
    font-weight: 700;
}

.side-panel .box:nth-child(3) .ad {
    height: 40rem;
    background-image: url("https://picsum.photos/276/400");

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.side-panel .box:nth-child(3) .ad .ad-content {
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, var(--accent), transparent);

    padding: 0.8rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.side-panel .box:nth-child(3) .ad .ad-content .ad-title {
    color: var(--primary);
    font-size: 2.4rem;
    font-weight: 700;
}

.side-panel .box:nth-child(3) .ad .ad-content .ad-text {
    color: var(--primary);
    font-size: 1.6rem;
}

.side-panel .box:nth-child(3) .ad .ad-content .ad-text a {
    color: var(--primary);
    font-size: 1.6rem;
}

@media only screen and (max-width: 1120px) {
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .side-panel {
        max-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 50%;
        justify-content: center;
    }
    .side-panel .box {
        max-width: 30rem;
        margin: 1.6rem;
        height: fit-content;
        flex: 1 0 30%;
    }
}

@media only screen and (max-width: 670px) {
    .side-panel {
        flex-direction: column;
        width: 100%;
    }
}