<nav>
    <div class="navbar">
        <i class="bx bx-menu"></i>
        <div class="logo"><a href="/">WebIT</a></div>
        <div class="nav-links">
            <div class="sidebar-logo">
                <a href="/" class="logo-name">WebIT</a>
                <i class="bx bx-x"></i>
            </div>
            <ul class="links">
                <li><a href="/home">HOME</a></li>
                <li>
                    <a href="/blog">BLOG</a>
                    <i class="bx bxs-chevron-down arrow blog-arrow"></i>
                    <ul class="blog-sub-menu sub-menu">
                        <li><a href="/blog/filter/front-end">Front-end Dev</a></li>
                        <li><a href="/blog/filter/back-desendign">Back-end Dev</a></li>
                        <li><a href="/blog/filter/web-design">Web Design</a></li>
                        <li><a href="/blog/filter/web-content">Web Content</a></li>
                        <li class="more">
                            <a href="/blog/">More</a>
                            <i class="bx bxs-chevron-right arrow more-arrow"></i>
                            <ul class="more-sub-menu sub-menu">
                                <li><a href="/blog/filter/html-css">HTML & CSS</a></li>
                                <li><a href="/blog/filter/js">Javascript</a></li>
                                <li><a href="/blog/filter/nodejs">Node.js</a></li>
                                <li><a href="/blog/filter/bootstrap">Bootstrap</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/contact">CONTACT US</a></li>
            </ul>
        </div>
        <form action="/blogs/search" method="post" class="search-box">
            <i class="bx bx-search"></i>
            <div class="input-box">
                <input type="text" name="search" id="search" placeholder="Search...">
            </div>
        </form>
    </div>
</nav>